#!/bin/bash
# SRCH main config file.

# Variables declared here will be available for all the engines and invocation of BROWSER.

# Default engine to use when none provided. Defaults to "", fail if no valid engine ID provided.
SRCH_DEFAULT_ENGINE="no_such_engine"

# Custom variables:

BROWSER=firefox
